.singleOption {
  margin: 3px;
  padding: 4px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.wrong {
  background-color: red;
  color: white;
}
.select {
  background-color: green;
  color: white;
}

textarea{
  font-size: 15px;
  border: 1px solid gray;
  outline: none;
}